{%load static%}

<!-- Navbar -->
{%include 'textsummarizer/header.html'%}
<!-- Navbar Ends here -->

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="container p-4 mt-5 w-75">
    <div class="card mb-3 mx-auto p-3" style="max-width: 680px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'images/summary.JPG' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-success h3">Text Summarizer</h5>
                    <p class="card-text">This is a Text Summarization tools created for saving time in reading large
                        text data.</p>

                </div>
            </div>
        </div>

        <ul class="list-group">
            <h4 class="h4 p-2 text-success">Why Text summarization is important ?</h4>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                ◑ Can get maximum information by spending minimum time from unstructured textual data.

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                ◑ To enhance the readability of the documents.

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                ◑ Can eliminate redundant, insignificant text and provide required information

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                ◑ Accelerates the process of researching for information
            </li>
        </ul>
    </div>

</div>